<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/orders.css">
</head>

<body>
  <%- include('../includes/navigation.ejs') %>
  <main>
    <% if (orders.length <= 0) { %>
      <h1>没有更多的订单...</h1>
    <% } else { %>
      <ul class="orders-list">
        <% orders.forEach(order => { %>
          <li class="orders-item">
            <h1>订单号 - # <%= order._id %></h1>
            <ul class="orders-product">
              <% order.products.forEach(p => { %>
                <li class="orders-product-item"><%= p.product.title %> - <%= p.quantity %></li>
              <% }) %>
            </ul>
          </li>
        <% }) %>
      </ul>
    <% } %>
  </main>
  <%- include('../includes/end.ejs') %>